style.css
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}
header {
    background-color: #FFEB3B;
    padding: 20px;
    color: white;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
section {
    padding: 20px;
}
button {
    background-color: ##FFEB3B;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #e68900;
}

body {
    background-color: #f0f0f0; /* Cor de fundo clara */
    color: #333333; /* Cor de texto */
}

h1 {
    color: #ff6347; /* Cor do título */
}
